.navigation_panel {

    border-right: 2px solid grey;
}
.main_section {
    /*border:  1px solid blue;*/
}
.footer {
    height: 200px;
    background-color: #333333;
    color: #999999;
    text-align: center;
}
